#list {
	height: auto;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
}
#head {
	height: 160px;
	width: 950px;
	margin-bottom: 20px;
	background-color: #6699ff;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/logo.gif);
	/*padding-top: 132px;*/
	padding-right: 10px;
}
#head h1{
	color:#fff;
	height:100px;
	}
#head #welcome {
	height: 28px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
}
#head #welcome #login_out {
cursor: pointer;
}
#head #welcome #login_out:hover {
	color: #CC3300;
}


#head #welcome a:hover {
	color: #CC0000;
}

body {
}



#list #link {
	float: left;
	height: auto;
	width: 150px;
	overflow: hidden;
	border: 1px solid #6699FF;
}
#list  #link  .lanmu {
	height: 44px;
	width: 150px;
	font-size: 16px;
	line-height: 44px;
	font-weight: bold;
	text-align: center;
	background-color: #6699FF;
	color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}
#list  #link  #lanmu {
	height: 44px;
	width: 150px;
	font-size: 16px;
	line-height: 44px;
	font-weight: bold;
	text-align: center;
	background-color: #6699FF;
	color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}
#list #link .ul {
	padding: 0px;
	list-style-type: none;
	background-color: #eeeeee;
	height: auto;
	width: 150px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#list #link .ul li {
	font-size: 12px;
	line-height: 34px;
	font-weight: bold;
	height: 34px;
	width: 140px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
#list #link .ul a {
	display: block;
	height: 34px;
	width: 140px;
	line-height: 34px;
	color: #333333;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#list #link .ul a:hover {
	color: #6699FF;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6699FF;
}



#list #cnt {
	float: right;
	height: auto;
	width: 808px;
	overflow: hidden;
}
#list #cnt #if {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#cnt .menu {
	height: auto;
	width: auto;
	font-size: 14px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	overflow: hidden;
}
#list #cnt .menu #add_menu {
	display: block;
}
.inputs                     {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 26px;
	text-align: center;
}
#list #cnt .menu #add_menu .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt .menu #add_menu .align_l {
	text-align: left;
	padding-left: 5px;
}

#list #cnt .menu #updata_menu {
}
#list  #cnt  .menu   table  {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 803px;
	margin-top: 5px;
}
#list  #cnt  .menu   td  {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
#list  #cnt  .menu  .btn {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #6699FF;
	font-weight: bold;
	color: #FFFFFF;
	height: 24px;
	width: 80px;
	line-height: 24px;
}
table  {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 803px;
	margin-top: 5px;
}
#list  #cnt  #menu   td  #tdleft  {
	text-align: left;
}

td  {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	text-align: center;
}
#tonzi {
	width: 400px;
}

#tdleft {
	text-align: left;
	padding-left: 10px;
}
#list #cnt #menu #updata_menu #fp {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6699FF;
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
}
#list #cnt #menu #updata_menu #fp a {
	text-align: center;
}




.btn {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #6699FF;
	font-weight: bold;
	color: #FFFFFF;
	height: 24px;
	width: 80px;
	line-height: 24px;
}


.title {
	background-color: #6699FF;
	height: 44px;
	width: 783px;
	line-height: 44px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}
/*TODO */
#ahref a {
	height: 24px;
	width: 50px;
	
	margin-right: 0px;
	margin-left: 7px;
	/*background-color: #6699FF;*/
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	
}
 .menu   a:hover {
	color: #FF0000;
}

#list #cnt .menu #add_lanmu {
	display: block;
}
#list #cnt .menu #updata_cnt {
}
#list #cnt .menu #add_cnt {
}
#list  #cnt  .menu  #updata_cnt  a {
	height: 24px;
	width: 50px;
	float: left;
	margin-right: 0px;
	margin-left: 7px;
	background-color: #6699FF;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
}
#list  #cnt  .menu  #updata_cnt  a:hover {
	color: #FF0000;
}


#list #cnt .menu #add_cnt .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt .menu #add_cnt .align_l {
	text-align: left;
	padding-left: 5px;
}
#edit_cnt {
}
#edit_cnt  table  {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 803px;
	margin-top: 5px;
}
#edit_cnt  .inputs   {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 26px;
	text-align: center;
}
#edit_cnt   td  {
	text-align: center;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
}
#edit_cnt .align_r {
	text-align: right;
	padding-right: 5px;
}
#edit_cnt .align_l {
	text-align: left;
	padding-left: 5px;
}
#edit_cnt  .btn {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #6699FF;
	font-weight: bold;
	color: #FFFFFF;
	height: 24px;
	width: 80px;
	line-height: 24px;
}
#edit_a {
	display: block;
	height: 24px;
	width: 80px;
	font-size: 12px;
}
#edit_a:hover {
	color: #333333;
}


#list #cnt .menu#add_img    {
}
#list   #cnt .menu #add_img .align_l {
	text-align: left;
	padding-left: 5px;
}
#list   #cnt .menu #add_img .align_r {
	text-align: right;
	padding-right: 5px;
}
#add_img {
}
#add_base {
}
#list   #cnt .menu #add_base .align_r     {
	text-align: right;
	padding-right: 5px;
}
#list   #cnt .menu #add_base .align_l    {
	text-align: left;
	padding-left: 5px;
}
#add_lx    {
}
#list #cnt .menu #add_lx .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt .menu #add_lx .align_l {
	text-align: left;
	padding-left: 5px;
}
#add_user {
}
#list #cnt .menu #add_user .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt .menu #add_user .align_l {
	text-align: left;
	padding-left: 5px;
}
#updata_user {
}
#list #cnt .menu #updata_user .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt .menu #updata_user .align_l {
	text-align: left;
	padding-left: 5px;
}
#edit_user {
}
#edit_user .align_r {
	text-align: right;
	padding-right: 5px;
}
#edit_user .align_l {
	text-align: left;
	padding-left: 5px;
}
#list #cnt #menu #add_lanmu {
}
#list #cnt #menu #add_lanmu .align_r {
	text-align: right;
	padding-right: 5px;
}
#list #cnt #menu #add_lanmu .align_l {
	text-align: left;
	padding-left: 5px;
}#login {
	background-image: url(../images/login_bg.gif);
	width: 1300px;
	height: 736px;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}
#tab {
	height: 250px;
	width: 364px;
	margin-top: 205px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 421px;
	padding-top: 73px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 100px;
}
#login #tab #table {
	width: 264px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#foot {
	height: 88px;
	width: 960px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #046ab5;
	padding-top: 10px;
	clear: both;
}
#foot p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}

/*分页样式<div id="fpage"><?php  echo $link; ?></div>*/
 #fpage{
        width:100%;
        text-align: center;
        padding-top:50px;
    }
    #fpage  a{
          margin:0px 10px;
          text-decoration: none;
          color:#000;
    }
    #fpage  a:hover{
          color:#f00;
    }
    #fpage .red{
        color:#f00;
    }
