#login {
	width: 1189px;
	height: 531px;
	background-repeat: repeat-x;
	padding: 0px;
	background-image: url(../images/bg.png);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#login   .inp {
	border: 1px solid #3399FF;
	height: 20px;
	width: 180px;
	font-size: 12px;
	line-height: 20px;
}
#login  .kaifa {
	font-size: 10px;
	font-weight: normal;
	color: #3399FF;
}


#login #sp {
	height: 80px;
	font-size: x-large;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/txt.png);
	background-repeat: no-repeat;
}
#login #form1 {
	margin: 0px;
	padding: 0px;
}

#tab {
	height: 247px;
	width: 379px;
	font-size: 12px;
	padding: 0px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#login #tab #table {
	width: 379px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-image: url(../images/bg_login.jpg);
	background-repeat: no-repeat;
	height: 227px;
}
#login  #tab   #table  #login_btn  {
	background-color: #3399CC;
	height: 28px;
	width: 80px;
	font-weight: bold;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 28px;
	text-align: center;
}
#login #tab #table #login_btn:hover {
	color: #CC3300;
	cursor:pointer;
}


#code{
	width:80px;
	height:16px;
	text-align: left;
	background-repeat: repeat-x;
	border: 1px solid #E3E3E3;
	background-color: #E3E3E3;
	font-size: 12px;
	color: #CC3300;
}
#login  #nums {
	float: left;
	height: 16px;
	width: 50px;
}

.daan_a {
	background-image: url(../images/reg_ok.png);
	background-repeat: no-repeat;
}
#daan {
	height: 20px;
	width: 20px;
	color: #CC3300;
}

body {
	margin: 0px;
	padding: 0px;
}
